@font-face {
    font-family: GoBoldItalic;
    src: url(/fonts/Gobold%20Regular%20Italic.otf);
}

@font-face {
    font-family: GoBoldItalicHollow;
    src: url(/fonts/Gobold%20Hollow%20Italic.otf);
}

@font-face {
    font-family: GoBoldLowplus;
    src: url(/fonts/Gobold%20Lowplus.otf);
}

* {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: GoBoldItalicHollow, sans-serif;
}

#main-title {
    background-image: -webkit-gradient(linear, right top, left top, from(#fe5915), to(#ffad36));
    background-image: linear-gradient(270deg, #fe5915, #ffad36);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.navbar-brand {
    font-family: GoBoldItalic;
}

.nav-link {
    font-family: GoBoldLowplus;
}

#result {
    background-color: white;
    border: 1px solid rgba(155,155,155,0.5);
    border-radius: 3px;
}

#result *:not(.material-icons) {
    font-family: 'Source Code Pro', monospace !important;
}

.var-type {
    border-radius: 5px;
    background-color: #78909C;
    color: #FFFFFF;
    padding: 2px 5px;
    font-weight: bold;
}

.var-value {
    color: #FFA000;
}

.var-value-null {
    color: #F4511E;
}

.var-value-string {
    color: #757575;
}

.var-length {
    color: #FFA000;
    font-style: italic;
}

#user_var_dump_form_content {
    min-height: 250px;
}

#beautifier {
    background-color: #F5F5F5;
}

.material-icons {
    vertical-align: middle;
}

#footer, #header {
    background: rgb(16,16,16);
    background: radial-gradient(circle, rgba(16,16,16,1) 0%, rgba(33,33,33,1) 100%);
    color: #F5F5F5;
}

.navbar.bg-dark {
    background-color: #101010 !important;
    border-bottom: 1px solid #212121;
}

code {
    color: #FFA000;
    background-color: #212121;
    padding-left: 5px;
    padding-right: 5px;
}

span.property-name {
    color: #9575CD !important;
    border-left: 1px dotted #212121;
    padding-left: 1em;
}

textarea {
    font-family: 'Source Code Pro', monospace !important;
}