#result {
    background-color: white;
    border: 1px solid rgba(155,155,155,0.5);
    border-radius: 3px;
}

#export-result-container {
    border: 1px solid rgba(155,155,155,0.5);
    border-radius: 3px;
    background-color: #F5F5F5;
    width: 100%;
    min-height: 400px;
}

#result *:not(.material-icons) {
    font-family: 'Source Code Pro', monospace !important;
}

.var-type {
    border-radius: 5px;
    border: 1px dotted #F4511E;
    color: #F4511E;
    padding: 2px 5px;
}

.var-value {
    color: #FFA000;
}

.var-value-null {
    color: #F4511E;
}

.var-value-string {
    color: #5C6BC0;
}

.var-length {
    color: #FFA000;
    font-style: italic;
}

.var-value-resource {
    color: #F4511E !important;
}

#user_var_dump_form_content {
    min-height: 250px;
}

#beautifier {
    background-color: #F5F5F5;
}

.material-icons {
    vertical-align: middle;
}

#footer {
    background: rgb(16,16,16);
    background: radial-gradient(circle, rgba(16,16,16,1) 0%, rgba(33,33,33,1) 100%);
    color: #F5F5F5;
}

.card {
    background: radial-gradient(circle, rgba(16,16,16,1) 0%, rgba(33,33,33,1) 100%);
    color: #F5F5F5;
}

#header {
    background: white;
}

.navbar.bg-dark {
    background-color: #101010 !important;
    border-bottom: 1px solid #212121;
}

code {
    /*color: #FFA000;*/
    /*background-color: #212121;*/
    padding-left: 5px;
    padding-right: 5px;
    color: initial;
}

span.property-name {
    color: #78909C !important;
    border-left: 1px dotted #212121;
    padding-left: 1em;
}

textarea {
    font-family: 'Source Code Pro', monospace !important;
}

.node-line {
    transition: background-color 100ms;
    background-color: transparent;
    border-radius: 4px;
}

.node-line:hover {
    background-color: #FFF8E1;
}